.favCard {
  border: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 21px 21px 70px 20px;
  padding-top: 20px;
}

.favItem {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img {
  height: 55%;
  object-fit: cover;
  width: 100%;
}

.favCard button {
  background-color: white;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.9;
}

.favCard button:hover {
  opacity: 1;
}
