.slider-container {
  background: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-bottom: 30px;
}

.slider-item {
  align-items: center;
  display: flex;
  height: 20rem;
  justify-content: center;
  min-width: 50%;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 100%;
  visibility: hidden;
}

.start-recipe {
  bottom: 0;
  margin: 5px auto;
  position: fixed;
  text-align: center;
  width: 100%;
}